<div class="card">

  <!--Card image-->
  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" alt="Card image cap">

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 [innerText]="customer.customerName" class="card-title"></h4>
    <!--Text-->
    <p class="card-text" [innerText]="customer.customerEmail"></p>
    <p class="card-text" [innerText]="customer.customerPhone"></p>
    <button (click)="editCustomer(customer)" class="btn btn-primary waves-light" mdbRippleRadius>Edit Customer</button>
    <a [routerLink]="['/Orders',customer.customerID]" class="btn btn-primary waves-light orders" mdbRippleRadius>Orders
      <app-badge [customerOrdersCounter]="customer"></app-badge>
    </a>
  </div>

</div>