<section class="container">

    <section class="row">
        <section class="col-12">
            <h5 class="p-3 text-center" *ngIf="selectedCustomer!==undefined">
                <label for="p-3">Customer:</label>
                {{selectedCustomer?.customerName}}
            </h5>
        
        <ul class="list-group">
            <li *ngFor="let order of customerOrders" class="list-group-item d-flex justify-content-between align-items-center">
                {{order.product}}
                <i (click)="edit()" class="fa fa-edit list-group-item d-flex justify-content-between align-items-center"></i>
            </li>
        </ul>

        <section *ngIf="customerOrders.length===0 && selectedCustomer!==undefined" class="text-center">
            <button (click)="edit()" type="button" class="btn btn-deep-orange waves-light" mdbRippleRadius>No Products Found</button>
        </section>

    </section>

    </section>

</section>