<form [formGroup]="customerRegistrationForm" (ngSubmit)="submitForm()" mdbModal #fluid="mdb-modal" class="modal fade right"
    id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <section class="modal-dialog modal-full-height modal-right" role="document">

        <!--Content-->
        <section class="modal-content">
            <!--Header-->
            <section class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Customer Registration</h4>
                <button (click)="hideModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </section>
            <!--Body-->
            <section class="modal-body mb-0">

                <!-- NAME -->
                <div class="md-form form-sm">
                    <i class="fa fa fa-user prefix"></i>
                    <input formControlName="customerName" autocomplete="false" mdbActive type="text" id="form19" class="form-control">
                    <label for="form19">Customer Name</label>
                </div>
                <!-- NAME -->

                <!-- EMAIL -->
                <div class="md-form form-sm">
                    <i class="fa fa-envelope-open-o prefix"></i>
                    <input formControlName="customerEmail" mdbActive type="email" autocomplete="false" id="form20" class="form-control">
                    <label for="form20">Your email</label>
                </div>
                <!-- EMAIL -->

                <!-- PHONE -->
                <div class="md-form form-sm">
                    <i class="fa fa-phone prefix"></i>
                    <input type="text" formControlName="customerPhone" mdbActive autocomplete="false" type="text" id="category" class="form-control">
                    <label for="category">Tel</label>
                </div>
                <!-- PHONE -->

                <!-- ORDERS -->
                <section *ngIf="!customerEditMode">
                    <section formArrayName="customerOrders" *ngFor="let order of orders_FormArray_List.controls;let i = index;">
                        <section [formGroupName]="i">
                            <div class="md-form form-sm">
                                <i class="fa fa-product-hunt prefix"></i>
                                <button (click)="removeOrder(i)" type="button" class="close remove-product" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <input formControlName="product" mdbActive autocomplete="false" type="text" id="" class="form-control">
                                <label for="">Product</label>
                            </div>
                        </section>
                    </section>
                </section>
                <!-- ORDERS -->

                <!-- ADD ORDERS BTN -->
                <div *ngIf="!customerEditMode" class="text-center">
                    <button [disabled]="!orders_FormArray_List.valid || orders_FormArray_List.length >= ordersListSize" (click)="addOrder()"
                        type="button" class="btn btn-deep-orange waves-light" mdbRippleRadius>Set Order</button>
                </div>
                <!-- ADD ORDERS BTN -->

                <!-- DELETE CUSTOMER BTN -->
                <div *ngIf="customerEditMode" class="text-center">
                    <button (click)="deleteCustomer()" type="button" class="btn btn-danger waves-light" mdbRippleRadius>Delete Customer</button>
                </div>
                <!-- DELETE CUSTOMER BTN -->

            </section>
            <!-- BODY -->

            <section class="text-center p-3">
                <section *ngIf="customerRegistrationForm.get('customerName').touched && 
                customerRegistrationForm.get('customerName').errors">
                    <section *ngIf="customerRegistrationForm.get('customerName').errors.required">
                        <span>Customer Name Required</span>
                    </section>
                    <section *ngIf="customerRegistrationForm.get('customerName').errors.minlength">
                        <span>Customer min. Name Invalid</span>
                    </section>
                </section>
                <section *ngIf="customerRegistrationForm.get('customerEmail').touched && 
                customerRegistrationForm.get('customerEmail').errors">
                    <section *ngIf="customerRegistrationForm.get('customerEmail').errors.required">
                        <span>Email Address Required</span>
                    </section>
                </section>
                <section *ngIf="customerRegistrationForm.get('customerPhone').touched && 
                customerRegistrationForm.get('customerPhone').errors">
                    <section *ngIf="customerRegistrationForm.get('customerPhone').errors.required">
                        <span>Phone Number Required</span>
                    </section>
                    <section *ngIf="customerRegistrationForm.get('customerPhone').errors.pattern">
                        <span>Phone number Invalid</span>
                    </section>
                </section>
                <section *ngIf="customerRegistrationForm.get('customerOrders')!==null && 
                customerRegistrationForm.get('customerOrders').touched && 
                !customerRegistrationForm.get('customerOrders').valid">
                    <span>This Selected Order Required</span>
                </section>
            </section>


            <div class="modal-footer ml-auto mr-auto">
                <button (click)="hideModal()" type="button" class="btn red accent-3 waves-light" aria-label="Close" mdbRippleRadius>Close</button>
                <button [disabled]="!customerRegistrationForm.valid" type="submit" class="btn amber darken-4 relative waves-light" mdbRippleRadius>Save changes</button>
            </div>

        </section>
        <!--/.Content-->

    </section>

</form>